__pycache__/*
# intermediate
*.cif
*.pdb
.DS_Store
RNAView/
rebuttal/
PseudoknotVisualizer_Photos/
paper
*.pdb.out
*.pdb.ps
*.pdb.xml
*.pdb_patt.out
*.pdb_sort.out
*.pdb_new_torsion.out
6t3r.cif.out
6t3r.cif_new_torsion.out
base_pair_statistics.out
DSSR/x3dna-dssr
analysis/datasets/BGSU__M__All__A__4_0__pdb_3_396.zip